/build
/include/Infrastructure/SavedGames/Game0/Player1/*.txt
/include/Infrastructure/SavedGames/Game0/Player2/*.txt
/include/Infrastructure/SavedGames/Game0/TurnUseCase/*.txt
/include/Infrastructure/SavedGames/Game0/*.txt

/include/Infrastructure/SavedGames/Game1/Player1/*.txt
/include/Infrastructure/SavedGames/Game1/Player2/*.txt
/include/Infrastructure/SavedGames/Game1/TurnUseCase/*.txt
/include/Infrastructure/SavedGames/Game1/*.txt

/include/Infrastructure/SavedGames/Game2/Player1/*.txt
/include/Infrastructure/SavedGames/Game2/Player2/*.txt
/include/Infrastructure/SavedGames/Game2/TurnUseCase/*.txt
/include/Infrastructure/SavedGames/Game2/*.txt

/include/Infrastructure/SavedGames/Sessions.txt